.profileDesign {
    height: 84vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profileDataModal{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: space-between;
    height: 12em;
    width: 20em;
}

a{
    font-weight: bold;
}

.profileContent{
    width: 100vw;
    height: 84vh;
    display: flex;
    flex-direction: column;
}
