.appointmentEditDesign{
    width: 100vw;
    height: 84vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.editButton{
    width: 2em;
    height: 2em;
    background-color: green;
    cursor: pointer;
}