.footerDesign{
    height: 8vh;
    width: 100%;
    background: linear-gradient(0deg, #176087 0%, #24b9cc 50%, #176087 100%);
    color: white;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    bottom: 0;
}